<div align="center">
  <h1> Bookmarks </h1>

  <ul>
    <% @bookmarks.each do |bookmark| %>
      <h6>><a href="<%= bookmark.url %>">
          <%= bookmark.title %>
          </a>
      </h6>
    <% end %>
  </ul>
  <br>
  <br>
  <form action=/ method="get">
    <button type="submit" value="Submit">back</button>
  </form>
</div>
