<div align="center">
<h1>Welcome to your bookmark manager</h1>
<br>
<h3>Please select from the below options</h3>

<form action=/bookmarks method='get'>
  <button type="submit" value="Submit">view bookmarks</button>
</form>
<form action=/new method='get'>
  <button type="submit" value="Submit">create bookmark</button>
</form>

<form action=/delete_bookmark method='post'>
  <input type="text" name="delete_title" placeholder="Enter title of bookmark"><br>
  <button type="submit" value="Submit">delete bookmark</button>
</form>

<form action=/update_bookmark method='post'>
  <input type="text" name="old_title" placeholder="Enter title of bookmark to be updated"><br>
  <input type="text" name="update_title" placeholder="Enter new title of bookmark"><br>
  <input type="text" name="update_url" placeholder="Enter new URL of bookmark"><br>
  <button type="submit" value="Submit">update bookmark</button>
</form>

</div>
